.wallet-root {
  width: 100%;
  padding: 20px;
}

.wallet-main h2 {
  margin-bottom: 20px;
}

.wallet-top-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 20px;
}

.wallet-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 20px;
}

.wallet-wide h3 {
  font-size: 26px;
}

.wallet-action {
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.wallet-green {
  background: rgba(46, 204, 113, 0.4);
}

.wallet-purple {
  background: rgba(155, 89, 182, 0.4);
}

.wallet-activity {
  max-height:500px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.wallet-activity-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.wallet-activity-row p {
  font-size: 12px;
  opacity: 0.7;
}

.wallet-right {
  text-align: center;
}

.wallet-completed {
  color: #4cd964;
  font-size: 12px;
}

.empty {
  opacity: 0.6;
}

/* POPUP */
.wallet-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-popup {
  background: #111;
  padding: 20px;
  border-radius: 14px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wallet-popup input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.wallet-popup button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.wallet-popup .cancel {
  background: transparent;
  color: #aaa;
}
.wallet-popup .confirm {
  background: #28a745;
  color: white;
}
