.nav_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
  padding: 10px;
  gap: 10px;
  height: 100vh;
}

.nav_container .navbar {
  border: 0.5px solid rgb(91, 101, 120);
  border-radius: 20px;
  height: 100%;
  ul {
    list-style: none;
  }
}
.navbar a {
  color: white;
  text-decoration: none;
}
.container_outlet {
  width: 100%;
  height: 98vh;
  border: solid red;
  border: 0.5px solid rgb(91, 101, 120);
  border-radius: 20px;
}

.profile_route_container {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }
}
