.App {
  text-align: center;
}
html,
body,
#root {
  height: 100%;
  /* overflow: hidden; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* padding: 20px; */
  box-sizing: border-box;
}

/* BACKGROUND */
.page {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1c2a3a, #050812);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

/* TOP CURVED BAR */
.top-container {
  width: 520px;
  height: 90px;
  background: linear-gradient(135deg, #1f2937, #0b1020);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05);
}

.top-container h2 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* FORM CARD */
.form-card {
  width: 420px;
  margin-top: -20px;
  padding: 28px;
  background: linear-gradient(180deg, #121a2a, #090e1c);
  border-radius: 20px;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.7),
    inset 0 0 25px rgba(255, 255, 255, 0.03);
}

/* INPUTS */
.form-card input,
.form-card select {
  width: 100%;
  height: 42px;
  margin-bottom: 14px;
  padding: 0 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #10182a;
  color: #cfd8ff;
  font-size: 13px;
}

.form-card input::placeholder {
  color: #7c86a8;
}

/* LOGIN TEXT */
.login-text {
  text-align: center;
  font-size: 12px;
  color: #9aa4c7;
  margin: 10px 0;
}

.login-text span {
  color: #d6ff3f;
  cursor: pointer;
}

/* TERMS */
.terms {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #9aa4c7;
  gap: 8px;
  margin: 10px 0 20px;
}

/* BUTTON */
.register-btn {
  width: 100%;
  height: 44px;
  border-radius: 14px;
  border: none;
  background: #d6ff3f;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(214, 255, 63, 0.4);
}


a{
  text-decoration: none;
  color: white;
}
