.register-wrapper {
  min-height: 100vh;
  /* background-image: url("../assests/bg.png"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
}

.top-glass {
  position: absolute;
  top: 40px;
  height: 217px;
  width: 1200px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(28px);
  transform: translate(240px, 60px);
}

.register-container {
  position: relative;
  z-index: 2;
  width: 360px;
}

.register-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 16px;
}

.register-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  border-radius: 18px;
  padding: 24px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}

.register-card input,
.register-card select {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 14px;
  padding: 0 14px;
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  font-size: 13px;
}

.register-card select option {
  color: #000;
  background: rgba(255, 255, 255, 0.08);
}

.register-card input::placeholder {
  color: #bfc7d5;
}

.info-text {
  font-size: 11px;
  color: #cbd5e1;
  margin: 8px 0 12px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 11px;
  color: #d1d5db;
  margin-bottom: 14px;
}

.checkbox-row input[type="checkbox"] {
  width: 20px;
}
.checkbox-row input {
  accent-color: #d9ff5c;
}

.login-text {
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
}

.login-text span {
  color: #d9ff5c;
  cursor: pointer;
}

.next-btn {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: none;
  background: #d9ff5c;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

/* Centered second screen layout */
.center-layout {
  margin-top: 40px;
}

/* Taller card for second screen */
.tall-card {
  padding-top: 28px;
  padding-bottom: 28px;
}


.error {
  color: red;
  font-size: 13px;
  margin: 4px 0 8px;
}

